body {
    text-align: center;
    background-color: aliceblue;
    font-family: arial, sans-serif;
    font-size: 160%;
}
table {
    margin: auto;
    background-color: white;
    border-collapse: collapse;
    width: 40%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
#information {
    color: dodgerblue;
}
.memo {
    color: darkred;
}
